<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Welcome to LaunchBlog</h1><br>
  <%= link_to 'Create New Post', new_blog_path, :class => 'btn btn-default' %>

  <% @blogs.each do |blog| %>
    <div class="container posts">
      <h2><%= blog.title %></h2>
      <% preview = blog.content %>
      <% preview = preview[0..500] + "..." %>
      <p><%= preview %></p>
      <%= link_to 'Edit', edit_blog_path(blog), class: "btn btn-info" %>
      <%= link_to 'Read More', blog, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
